/*body {
    min-width: 320px;
}
@media #{$tablet-widths} {
    body {
        min-width: 700px;
    }
}
@media #{$desktop-widths} {
    body {
        min-width: 1200px;
    }

}
*/



img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
