.download {
    padding: 29px 0 30px;
    width: 100%;
    color: #fff;
    background-color: #1d2631;
}
.download__wrapper {
    width: 320px;
    margin: 0 auto;
}
.download__links {
    display: flex;
    padding: 0 56px;
    margin-top: 25px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}
.download__link {
    @include size(50px, 80px);
    background-color: #fff;
    &--apple {
        background: transparent url('../img/logo-apple.svg') no-repeat 50% 30%;
    }
    &--android {
        background: transparent url('../img/logo-android.svg') no-repeat 50% 50%;
    }
    &--microsoft {
        background: transparent url('../img/logo-microsoft.svg') no-repeat 50% 50%;
    }
    &:last-child {
        margin-right: 0;
    }
}
.download__info {
    font-weight: lighter;
    padding: 0 10px;
    margin: 0 auto;
    width: 240px;
    text-align: center;
}
@media #{$tablet-widths} {
    .download {
        padding: 26px 0 30px;
        background: transparent;
    }
    .download__wrapper {
        margin: 0;
    }
    .download__info {
        position: relative;
        left: -7px;
        padding: 0;
        width: 320px;
        font-size: 18px;
        text-align: center;
    }
    .download__links {
        width: 210px;
        margin-bottom: 22px;
        padding: 0 45px;
    }
    .download__link {
        &--android {
            opacity: 0.4;
        }
    }
}
@media #{$desktop-widths} {
    .download__wrapper {
        width: 940px;
        margin: 0 auto;
    }
    .download__links {
        margin-bottom: 38px;
    }
    .download__link {
        &--android {
            opacity: 1;
        }
    }
    .download__info {
        width: 310px;
        margin: 0;
    }
}
