.features {
    min-width: 320px;
    padding: 0;
    text-align: center;
}

.features__offer {
    position: relative;
    padding: 40px 0 3px;

}
.features__slogan {
    @include block-reset;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 27px;
    text-align: center;
}
.features__list {
    position: relative;
    padding: 83px 20px 284px;
    background:  #f2f2f2 url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 109%;
    &::before {
        @include position-pseudo(0, 0, auto, auto);
        @include size(100%, 33px);
        background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);
    }
}
.features__item {
    margin-bottom: 34px;
    &--extended {
        display: none;
    }
}

.features__title {
    @include block-reset;
    margin-bottom: 15px;
}
.features__text {
    @include block-reset;
}


@media #{$tablet-widths} {
    .features {
        @include clearfix;
    }
    .features__offer {
        padding: 50px 40px 44px;


    }
    .features__slogan {
        width: auto;
        margin-bottom: 0;
        &:last-child {
            margin: 0 auto;
            width: 350px;
        }
    }
    .features__list {
        padding: 79px 0 6px;
        &::before {
            @include position-pseudo(0, 0, auto, auto);
            @include size(100%, 55px);
            background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);

        }
        background: linear-gradient( #f2f2f2 60.75%, #fff 61%);
        background: #f2f2f2;


    }
    .features__item {
        margin-bottom: 37px;
        &:nth-child(n + 2):not(&--extended) {
            padding-left: 2px;
        }
        text-align: left;
        &--extended {
            position: relative;
            display: block;

            margin-top: 139px;

        }
        &--extended::before {

            @include position-pseudo(-37px, -308px);
            @include size(240px, 280px);
            background: transparent url("../img/timer24.png") 0% top no-repeat;
        }
    }
    .features__title {

        &--extended {
            margin-bottom: 10px;
            width: 180px;
            font-size: 30px;
            font-weight: bold;
            line-height: 36px;
        }
    }
    .features__text {

        &--extended {
            width: 300px;
            margin-bottom: 10px;
        }


    }
    .features__wrapper {
        position: relative;
        width: 320px;
        padding-left: 314px;
        margin: 0 auto;
        &::after {
            @include position-pseudo(-73px, -11px, auto, auto);
            @include size(300px, 481px);
            background:  transparent url("../img/iphone-screen-tablet@1x.png") no-repeat 50% 0;
            z-index: 5;
        }
    }

}
@media #{$desktop-widths} {
    .features__offer {
        padding: 40px 130px 77px;

    }
    .features__slogan {
        &:last-child {
            width: 440px;
        }
    }

    .features__list {
        padding: 119px 0 6px;

        font-size: 0;
        &::before {
            @include position-pseudo(0, 0, auto, auto);
            @include size(100%, 95px);
            background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);

        }
        background: #f2f2f2;

    }
    .features__wrapper {
        padding-left: 0;
        width: 940px;
        &::after {
            display: none;
        }
    }

    .features__item {
        @include cards;
        @include font-size(18px, 30px, normal);
        width: 240px;
        margin: 0;
        margin-top: -121px;
        padding-top: 301px;

        margin-right: 77px;
        text-align: center;
        background: transparent url("../img/Iphone-screen-desktop-1.png") 50% top no-repeat;
        &:nth-child(2) {
            background: transparent url("../img/Iphone-screen-desktop-2.png") 50% top no-repeat;
        }
        &:nth-child(3) {
            margin-right: 0;
            background: transparent url("../img/Iphone-screen-desktop-3.png") 50% top no-repeat;
        }
        &--extended {
            position: relative;
            display: block;
            width: 940px;
            padding-top: 0;
            padding-bottom: 107px;
            padding-left: 365px;
            margin-top: 104px;

            text-align: left;
            background: none;
            box-sizing: border-box;
        }
        &--extended::before {

            @include position-pseudo(-37px, 0px);
            @include size(302px, 351px);
            background: transparent url("../img/timer24-desktop.png") 0% top no-repeat;
        }

    }
    .features__title {
        @include font-size(30px, 30px, bold);
        padding-top: 56px;
        margin-bottom: 25px;

        background: #f2f2f2;
        &--extended {
            width: 320px;
        }
    }
    .features__text {
        &--extended {
            width: 530px;
            margin-bottom: 30px;
        }
    }

    .features__link {
        &--extended {



        }
    }
}
