.feedback-slider {
    min-width: 320px;
    text-align: center;
    clear: both;
}
.feedback-slider__item {
    @include block-reset;
    display: none;
    &--active {
        display: block;
    }
}
.feedback-slider__author {
    @include font-size(18px, 30px, bold);
    display: block;
    padding: 42px 0 14px;
    font-style: normal;
}
.feedback-slider__author-desc {
    display: none;
}
.feedback-slider__text {
    @include block-reset;
    line-height: 30px;
    padding: 0 20px;
}
.feedback-slider__wrapper {
    @include container;
}
@media #{$tablet-widths} {
    .feedback-slider {
        padding: 98px 0 0;
    }
    .feedback-slider__item--active {
        display: flex;
        flex-direction: column;
    }
    .feedback-slider__author {
        @include font-size(20px, 30px, bold);
        margin: 0;
        margin-bottom: 2px;
        padding: 0;
    }
    .feedback-slider__author-desc {
        @include block-reset;
        display: block;
        line-height: 30px;
    }
    .feedback-slider__text {
        margin-bottom: 35px;
        font-size: 18px;
        order: -1;
    }
}
@media #{$desktop-widths} {
    .feedback-slider {
        background: transparent url(../img/icon-quotes.svg) 50% 20% no-repeat;
    }
    .feedback-slider__item--active {
        display: flex;
        position: relative;
        padding: 88px 0 40px;
    }
    .feedback-slider__author {
        @include font-size(24px, 30px, bold);
        padding-bottom: 0;
        margin-bottom: 2px;
    }
    .feedback-slider__author-desc {
        @include block-reset;
        font-size: 18px;
        line-height: 30px;
    }
    .feedback-slider__text {
        width: 685px;
        margin: 0 auto;
        margin-bottom: 35px;
    }
}
