.gallery {
    min-width: 320px;
}
.gallery__header-wrapper {
    @include container;
}
.gallery__header {
    @include block-reset;
    @include font-size(14px, 30px, normal);
    padding: 46px 35px 48px;
    text-align: center;
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__item {
    padding: 0 6.4%;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &--best {
        padding: 0;
        width: 100%;
    }
}
.gallery__photo {
    position: relative;
    display: block;
    text-decoration: none;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.gallery__photo--best::before {
    @include position-pseudo(auto, auto, auto, 20px);
    @include size(140px, 36px);
    @include font-size(12px, 36px, bold, uppercase);
    content: "Панорама дня";
    background-color: $secondary-color;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.gallery__comments-wrapper {
    margin: 0 auto;
    padding: 0 6.4%;
}
.gallery__comments {
    display: flex;
    margin: 0 auto;
    padding: 18px 17px 20px;
    min-width: 246px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}
.gallery__author {
    margin-right: 3px;
    font-weight: bold;
    font-style: normal;
}
.gallery__date {
    @include font-size(12px, 24px, lighter, uppercase);
}
.gallery__desc {
    @include block-reset;
    margin-bottom: 10px;
    width: 100%;
}
.gallery__like-btn {
    position: relative;
    display: block;
    padding-left: 32px;
    width: 88.2%;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary-color;
    &::before {
        @include position-pseudo(5px, 0);
        @include size(14px, 14px);
        background: transparent url("../img/icon-heart.svg") no-repeat 50% 50%;
        color: $secondary-color;
    }
}
@media #{$tablet-widths} {
    .gallery__photo {
        &--best {
            
        }
        &--best::before {
            @include position-pseudo(57px, auto, auto, 40px);
            @include size(140px, 36px);
            @include font-size(12px, 36px, bold, uppercase);
            content: "Панорама дня";
            background-color: $secondary-color;
            color: #fff;
            text-align: center;
        }
    }
    .gallery__header {
        font-size: 18px;
        padding: 92px 70px 76px;
    }
    .gallery__comments-wrapper {
        margin: 0;
        padding: 0 5.71%;
    }
    .gallery__comments {
        width: 100%;
        padding: 24px 28px 50px;
        box-sizing: border-box;
        min-height: 155px;
        align-content: flex-start;
        &--best {
            position: relative;
            margin: 0 auto;
            padding: 24px 28px 14px;
            min-height: 100px;
        }
    }
    .gallery__like-btn {
        @include position(auto, 0, 23px, 10px);
        width: 100%;
        padding-left: 28px;
        padding-right: 53px;
        box-sizing: border-box;
        &::before {
            @include position-pseudo(5px, auto, auto, 32px);
        }
        &--best {
            @include position(25px, auto, auto, 25px);
            width: auto;
            padding-left: 0;
            padding-right: 33px;
        }
        &--best::before {
            @include position-pseudo(4px, auto, auto, 3px);
        }
    }
    .gallery__item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin: 0 1.428%;
        margin-bottom: 20px;
        background-color: #f2f2f2;
        width: 42.85%;
        &:last-child {
            margin-bottom: 20px;
        }
        &--best {
            padding: 0;
            margin:  0 0 50px;
            width: 100%;
            background-color: transparent;
        }
    }
    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
}
@media #{$desktop-widths} {
    .gallery__photo {
        &--best::before {
            @include position-pseudo(54px, auto, auto, 130px);
            @include size(140px, 36px);
            @include font-size(12px, 36px, bold, uppercase);
            content: "Панорама дня";
            background-color: $secondary-color;
            color: #fff;
            text-align: center;
        }
    }
    .gallery__header {
        margin: 0 auto;
        padding: 92px 70px 88px;
        width: 605px;
        font-size: 18px;
    }
    .gallery__comments-wrapper {
        margin: 0;
        padding: 0 10.8%;
    }
    .gallery__comments {
        padding: 24px 28px 50px;
        &--best {
            position: relative;
            margin: 0 auto;
            padding: 24px 28px 14px;
            min-height: 0;
        }
    }
    .gallery__item {
        margin: 0 0.83%;
        margin-bottom: 53px;
        width: 25%;
        &:last-child {
            margin-bottom: 53px;
        }
        &--best {
            padding: 0;
            margin:  0 0 50px;
            width: 100%;
            background-color: transparent;
        }
    }
    .gallery__like-btn {
        &--best {
            padding-right: 38px;
        }
        &--best::before {
            @include position-pseudo(4px, auto, auto, 6px);
        }
    }
}
