.main-header {
    width: 320px;
    min-height: 237px;
    padding-top: 0;
    background:  #2a3a4a url("../img/bg-back-mobile@1x.jpg") no-repeat;
}
.main-header__title {
    @include block-reset;
    color: #fff;
    background-color: transparent;
    text-align: center;
    &--promo {
        margin-bottom: 84px;
    }
}
.main-header__picture {
    img {
        @include cards;
    }
}
