.main-header {
    padding: 95px 0 0;
    min-width: 320px;
    min-height: 142px;
    background:  url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
    background-size: auto;
    @media #{$retina} {
        background:  url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 0%;
        background-size: 700px;
    }
    &--promo {
        padding: 0;
        min-height: 462px;
        background-color: $primary-color;
        background:  url("../img/iphone-hand-mobile@1x.png") no-repeat 0 177px,
                     url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
        background-size: auto, auto;
        @media #{$retina} {
            background: url("../img/iphone-hand-mobile@2x.png") no-repeat left 0 bottom 271px,
                        url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 0%;
            background-size: 258px, 700px;
        }
    }
}
.main-header__wrapper {
    &--promo {
        height: 461px;
    }
}
.main-header__title {
    @include block-reset;
    padding: 0 10px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    &--promo {
        display: none;
    }
}
@media #{$tablet-widths} {
    .main-header {
        width: 100%;
        padding: 181px 40px 0;
        min-height: 440px;
        background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
        background-size: auto;
        box-sizing: border-box;
        @media #{$retina} {
            background: url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 0%;
            background-size: 1200px;
        }
        &--promo {
            padding: 0 40px;
            min-height: 729px;
            background:  url("../img/iphone-hand-tablet@1x.png") no-repeat 50% 100%,
                         url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
            background-size: auto, cover;
            @media #{$retina} {
                background: url("../img/iphone-hand-tablet@2x.png") no-repeat left 50% bottom 0,
                            url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 0%;
                background-size: 700px, cover;
            }
        }
    }
    .main-header__title {
        display: block;
        margin: 0 auto;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        letter-spacing: -1px;
        &--promo {
            margin-left: 30px;
            padding-top: 203px;
            line-height: 48px;
            width: 220px;
            font-size: 40px;
        }
    }
    .main-header__wrapper {
        width: 620px;
        height: 352px;
    }
}
@media #{$desktop-widths} {
    .main-header {
        padding: 173px 40px 101px;
        width: 100%;
        min-height: 394px;
        background: url("../img/bg-back-desktop@1x.jpg") no-repeat left 50% bottom 100%;
        background-size: 213%;
        @media #{$retina} {
            background: url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 0%;
            background-size: 213%;
        }
        &--promo {
            min-height: 854px;
            padding: 0 130px;
            margin-bottom: 27px;
            background:  url("../img/iphone-hand-desktop@1x.png") no-repeat 98% 100%,
                         url("../img/bg-back-desktop@1x-1.jpg") no-repeat 50% 0%;
            background-size: auto, 100%;
            @media #{$retina} {
                background: url("../img/iphone-hand-desktop@2x.png") no-repeat 98% 100%,
                            url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 0%;
                background-size: 1050px, cover;
            }
        }
    }
    .main-header__title {
        display: block;
        width: 420px;
        &--long {
            width: 850px;
        }
        &--promo {
            padding-top: 218px;
            margin-left: 10px;
            width: 260px;
            font-size: 50px;
            line-height: 60px;
        }
    }
    .main-header__wrapper {
        margin: 0 auto;
        width: 940px;
        height: 424px;
    }
}
