.page-footer {
    text-align: center;
}
.page-footer__copyright {
    margin: 0;
    padding: 37px 0 0;
}
.page-footer__copyright-link {
    @include cards;
    @include size(27px, 35px);
    vertical-align: middle;
    text-indent: -9999px;
    background: transparent url("../img/logo-htmlacademy.svg") no-repeat 50% bottom;
}
.page-footer__copyright-text {
    @include cards;
    @include block-reset;
    line-height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}
.page-footer--index-mobile {
    display: none;
}

.page-footer__wrapper {
    @include container;

}



@media #{$tablet-widths} {
    .page-footer, .page-footer--index-mobile {
        display: block;
        padding: 35px 0;
        outline: 1px solid red;
    }
    .page-footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-footer__social {
        width: 300px;
    }
    .page-footer__copyright {
        width: 130px;
        padding: 0;
    }
}




@media #{$desktop-widths} {
    .page-footer, .page-footer--index-mobile {
        display: block;
        padding:75px 0;
    }
    .page-footer__copyright {
        width: 155px;
        font-size: 18px;
    }
}
