.price {
    position: relative;
    padding-top: 90px;
    padding-bottom: 7px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    &::before {
        @include position-pseudo(0, 0, auto, auto);
        @include size(100%, 25px);
        background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);
    }
}
.price__wrapper {
    @include container;
}
.price__name {
    @include font-size(18px, 30px, bold);
    margin-bottom: 3px;
}
.price__cost {
    @include font-size(24px, 30px, lighter);
}

.price__table {
    display: table;
    width: 834px;
    margin-bottom: 5px;

    border-collapse: collapse;
    transform: translateX(-258px);
    ul {
        display: table-row;
        padding: 0;
        margin: 0;
    }
}
.price__cell {
    display: table-cell;
    padding: 15px 21px 14px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    border-top: none;
    background-color: #fff;
    text-align: left;
    &:first-child {
        display: none;
    }
    &--header {
        position: relative;
        padding: 15px 0 20px;
        background: $primary-color;
        border-bottom: none;
        color: #fff;
        text-align: center;
        &-hit:after {
            @include position-pseudo(0, -2px);
            @include size(73px, 73px);
            z-index: 1;
            background: linear-gradient(-45deg, transparent 50%, $secondary-color 50.5%, $secondary-color 78%, transparent 78.5%);
        }
        &-hit:before {
            content: "ХИТ";
            @include position(5px, 0);
            @include size(73px, 73px);
            z-index: 2;
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            transform: rotate(-45deg);
        }
    }
    &--option {
        position: relative;
        &::after {
            @include position-pseudo(auto, auto, auto, 19px);
            @include size(27px, 27px);
            background: transparent url("../img/icon-no.svg") no-repeat 50% 50%;

        }
    }
    &--option-include::after {
        @include position-pseudo(20px, auto, auto, 16px);
        @include size(31px, 21px);
        background: transparent url("../img/icon-yes.svg") no-repeat 50% 50%;
        background-size: cover;
    }

}

@media #{$tablet-widths} {
    .price {
        padding-top: 89px;
        padding-bottom: 0;
    }
    .price {
        &::before {
            @include position-pseudo(0, 0, auto, auto);
            @include size(100%, 53px);
            background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);
        }
    }
    .price__table {
        width: 620px;
        margin-bottom: 68px;
        transform: translateX(0);

    }
    .price__column {
        display: table-column;
        width: 155px;
    }
    .price__cell {
        padding: 7px 15px 3px;
        text-transform: none;
        font-size: 0;
        &:first-child {
            display: table-cell;
            font-size: 14px;
            &::after {
                display: none;
            }
        }
        &--header {
            padding: 12px 10px;
            text-transform: uppercase;
            &:nth-of-type(2) {

            }
        }
        &--header-hit::after {
            @include position-pseudo(0, 0);
            background: linear-gradient(-45deg, transparent 57%, $secondary-color 57.5%, $secondary-color 85%, transparent 85.5%);
        }
        &--header-hit::before {
            @include position(-2px, -2px);
        }
        &--option::after {
            @include position(50%, 50%, auto, auto);
            transform: translate(-50%, -50%);
        }
        &--cleared {
            visibility: hidden;
        }
    }

    .price__name {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .price__cost {
        font-size: 18px;
        line-height: 24px;
    }

}

@media #{$desktop-widths} {
    .price {
        padding-top: 149px;
        &::before {

            @include position-pseudo(0, 0, auto, auto);
            @include size(100%, 82px);
            background: linear-gradient(to bottom right, #fff 50%, #f2f2f2 50.5%);
        }
    }

    .price__table {
        margin-bottom: 97px;
        width: 940px;
    }
    .price__column {
        width: 235px;
    }

    .price__cell {
        display: table-cell;
        padding: 13px 21px 8px;
        font-size: 0;
        &:first-child {
            display: table-cell;
            font-size: 18px;
            &::after {
                display: none;
            }
        }
        &--header {
            padding: 15px 0 20px;
        }
        &--header-hit::after {
            @include position-pseudo(0, 0);
            background: linear-gradient(-45deg, transparent 50%, $secondary-color 50.5%, $secondary-color 78%, transparent 78.5%);
        }
        &--header-hit::before {
            @include position(6px, 2px);
        }
    }
    .price__name {
        @include font-size(18px, 30px, bold);
        margin-bottom: 3px;
    }
    .price__cost {
        @include font-size(24px, 30px, lighter);
    }
}


.price__option {
    position: relative;
    padding: 15px 21px;
    line-height: 30px;
    border: 2px solid #fff;
    border-top-style: none;
    &::after, &::before {
        @include position-pseudo(27px, auto, auto, 15px);
        @include size(36px, 4px);
        background-color: #f25b26;
        transform: rotate(43deg);
    }
    &::before {
        transform: rotate(-43deg);
    }
    &--included::after {
        @include position-pseudo(33px, auto, auto, 36px);
        @include size(15px, 4px);
        background-color: #3dc644;
        transform: rotate(43deg);
    }
    &--included::before {
        @include position-pseudo(27px, auto, auto, 15px);
        @include size(28px, 4px);
        background-color: #3dc644;
        transform: rotate(-43deg);
    }
}
