.research {
  display: none;
}
@media #{$tablet-widths} {
    .research {
        display: block;
        margin: 0;
        width: 100%;

    }
    .research__wrapper {
        width: 88.57%;
        margin: 0 auto;
        padding: 96px 0 27px 44%;
        box-sizing: border-box;
        background: #fff url("../img/timer24.png") no-repeat 0 bottom;
    }
    .research__title {
        @include font-size(30px, 36px, bold);
        margin: 0;
        margin-bottom: 10px;
        width: 200px;
        color: #000;
    }
    .research__text {
        margin: 0;
        margin-bottom: 10px;
        width: 300px;
    }
    .research__link {
        color: $secondary-color;
    }
}
@media #{$desktop-widths} {
      .research {
          width: 100%;
          margin: 0;
          background-color: #f2f2f2;
      }
      .research__wrapper {
          width: 78.3%;
          margin: 0 auto;
          padding: 108px 0 113px 30.5%;
          box-sizing: border-box;
          background: #f2f2f2 url("../img/timer24-desktop.png") no-repeat 0 16px;
      }
      .research__title {
          width: 570px;
          margin-bottom: 21px;
      }
      .research__text {
          width: 525px;
          margin-bottom: 30px;
          @include font-size(18px, 30px);
      }
      .research__link {
          @include font-size(18px, 30px);
      }
}
