.social-link {

    @include size(51px, 51px);
    position: relative;

    text-decoration: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #e9ebec;
    font-size: 0;

    &:last-child {

    }
    &--tw {
        background: transparent url("../img/icon-twitter.svg") no-repeat 50% 50%;
    }
    &--fb {
        background: transparent url("../img/icon-facebook.svg") no-repeat 50% 50%;
    }
    &--yt {
        background: transparent url("../img/icon-youtube.svg") no-repeat 50% 50%;
    }
}
.social-link:hover {
    box-shadow: inset 0 0 0 3px $primary-color;
}
.social-link:active {
    box-shadow: inset 0 0 0 3px #e9ebec;
    opacity: 0.3;
}
@media #{$tablet-widths} {

}
