.social-link {
    @include cards;
    @include size(51px, 51px);
    position: relative;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #e9ebec;
    text-indent: -9999px;
    font-size: 14px;
    &:last-child {
        
    }
    &--tw {
        background: transparent url("../img/icon-twitter.svg") no-repeat 50% 50%;
    }
    &--fb {
        background: transparent url("../img/icon-facebook.svg") no-repeat 50% 50%;
    }
    &--yt {
        background: transparent url("../img/icon-youtube.svg") no-repeat 50% 50%;
    }
}
