.story-form {
    display: flex;
    margin: 0 auto;
    min-width: 320px;
    flex-direction: column;
}

.story-form__item {
    position: relative;
    @include block-reset;
    padding: 115px 20px 0;
    margin-bottom: 31px;
    border: none;
    box-sizing: border-box;
    &--name {
        padding: 0 20px;
        margin-bottom: 28px;
    }
    &--achievements {
        padding-bottom: 2px;
        margin-bottom: 29px;
        background-color: #f2f2f2;
    }
    &--user-contacts {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    &--platform {
        padding: 111px 20px 2px;
        margin-bottom: 20px;
        background-color: #f2f2f2;
    }
    &--buttons {
        padding: 0 20px;
        margin-bottom: 15px;
    }
    &--emotions {
        padding: 72px 20px 0;
        margin-bottom: 48px;
    }
}
.story-form__legend {
    span {
        display: none;
    }
}
.story-form__caption {
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    padding-left: 22px;
    color: $secondary-color;
}
.story-form__field::-ms-clear {
    display: none;
}

.story-form__field {
    @include font-size(18px, 30px);
    width: 100%;
    height: 61px;
    padding: 14px 21px 16px;
    margin-bottom: 16px;
    margin-bottom: 0;
    display: block;
    border-radius: 3px;
    outline: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    &--contacts {
        margin-bottom: 17px;
    }
    &--textarea {
        min-height: 200px;
        padding: 15px 19px 32px;
    }
    &--emotions {
        padding: 36px 20px 18px;
    }
}
.story-form__field-group {
    margin-bottom: 17px;
    &:nth-child(2) {
        margin-bottom: 20px;
    }
}
.story-form__field:hover  {
    border: 1px solid $primary-color;
}
.story-form__field:focus  {
    border: 1px solid $secondary-color;
}
.story-form__item-title {
    float: left;
    span {
        position: absolute;
        top: 0;
        left: 0;
        padding: 36px 40px 43px;
        width: 100%;
        box-sizing: border-box;
        @include font-size(14px, 18px, normal, uppercase);
        color: $secondary-color;
        text-align: center;
    }
}
.story-form__item-title--user-contacts {
    display: none;
}
.story-form__label {
    @include font-size(18px, 30px, normal);
    position: relative;
    display: block;
    padding-left: 70px;
    margin-bottom: 52px;
    color: $primary-color;
    &::before {
        @include position-pseudo(-4px, 0);
        @include size(39px, 39px);
        background-color: #fff;
        background: #fff;
        box-shadow: inset 0 0 0 2px #e5e5e5;
        cursor: pointer;
    }
    &--radio {
        margin-bottom: 45px;
    }
    &--radio::before {
        border-radius: 50%;
        background: #fff;
        box-shadow: inset 0 0 0 2px #e5e5e5,
                    inset 0 0 0 12px #fff;
    }
}
.story-form__label--radio:hover::before {
    box-shadow: inset 0 0 0 2px $primary-color,
                inset 0 0 0 12px #fff;
}
.story-form__label--radio:active::before {
    box-shadow: inset 0 0 0 2px $secondary-color,
                inset 0 0 0 12px #fff;
}
.story-form__radio:checked + .story-form__label--radio::before {
    background: $secondary-color;
}
.story-form__checkbox:checked + .story-form__label::after {
    @include position-pseudo(7px, 9px, auto, auto);
    @include size(19px, 8px);
    border: 3px solid $secondary-color;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
}

.story-form__checkbox, .story-form__radio {
    display: none;
}
.story-form__legend {
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    &:first-letter {
        color: $secondary-color;
    }
}
.story-form__checkbox-group .story-form__label:hover::before {
    box-shadow: inset 0 0 0 2px $primary-color;
}
.story-form__checkbox-group .story-form__label:active::before {
    box-shadow: inset 0 0 0 2px $secondary-color;
}
@media #{$tablet-widths} {
    .story-form__field-group {
        width: 100%;
        margin-bottom: 54px;
        display: flex;
        align-items: center;
        &:nth-child(2) {
            margin-bottom: 53px;
        }
        &:last-child {
            margin-bottom: 22px;
        }
    }
    .story-form__item-title {
        display: table;
        padding: 0 25px;
        position: absolute;
        left: 50%;
        top: -10px;
        width: auto;
        transform: translateX(-50%);
        text-align: center;
        background: #fff;


        float: none;
        /*
        display: block;
        padding: 0 25px; */
        margin: 0 auto;
        @include font-size(14px, 14px, normal, uppercase);
        span {
            position: static;
            padding: 0;
            width: auto;
            box-sizing: inherit;
        }
        &--platform {
            width: 370px;
        }
        &--achievements {
            width: 440px;
        }
    }
    .story-form__caption {
        padding-left: 0;
        margin-right: 19px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 30px;
    }
    .story-form__field {
        flex-grow: 1;
        margin-bottom: 0;
        &--textarea {
            padding-bottom: 28px;
        }
    }
    .story-form {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
    }
    .story-form__item {
        /*
        display: flex;
        flex-wrap: wrap;
        */
        display: block;

        padding: 0;
        margin-bottom: 58px;
        font-size: 0;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        &--name {
            margin-bottom: 46px;
            order: -5;
            border: none;
        }
        &--achievements {
            padding: 56px 59px 0;
            margin-bottom: 68px;
            width: 100%;
            order: -2;
            background-color: transparent;
        }
        &--platform {
            padding: 56px 59px 14px 59px;
            width: 100%;
            margin-bottom: 67px;
            order: -4;
            background-color: transparent;
        }
        &--user-contacts {
            position: relative;
            padding: 46px 58px 29px;
            margin-bottom: 66px;
            width: 100%;
            order: -3;
        }
        &--emotions {
            padding: 46px 60px 50px;
            margin-bottom: 70px;
            width: 100%;
        }
        &--buttons {
            margin-bottom: 53px;
            width: 100%;
            font-size: 14px;
            border: none;
        }
        &--emotions {
            order: -2;
        }
    }
    .story-form__buttons-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    .story-form__user-contacts-wrapper {
            display: flex;
            flex-direction: column;
    }
    .story-form__caption--contacts {
            padding-left: 20px;
            &:first-of-type {
                order: 0;
                margin-bottom: 30px;
            }
            &:last-of-type {
                order: 2;
            }
    }
    .story-form__field {
        &--textarea {
            min-height: 193px;
        }
        &--contacts {
            position: relative;
            margin-bottom: 10px;
            padding-right: 83px;
            order: -1;
            background: url("../img/icon-phone.svg") no-repeat right 22px center,
                        linear-gradient(to left, #e5e5e5 62px, #fff 62px);
            &:last-of-type {
                order: 1;
            }
        }
        &--mail {
            background: url("../img/icon-mail.svg") no-repeat right 22px center,
                        linear-gradient(to left, #e5e5e5 62px, #fff 62px);
        }
    }
    .story-form__label {
        padding-left: 60px;
        &--radio {
            padding-left: 60px;
        }
    }

}
@media #{$desktop-widths} {
    .story-form__item {
        &--name {
            width: 46.38%;
            padding-top: 15px;
        }
        &--platform {
            margin-top: 10px;
            padding: 58px 33px 13px 33px;
            width: 46.27%;
            box-sizing: border-box;
        }
        &--user-contacts {
            display: block;
            padding: 43px 59px 14px;
        }
        &--achievements {
            padding-right: 50px;
            margin-bottom: 67px;
        }
        &--emotions {
            padding-top: 42px;
            padding-bottom: 44px;
            margin-bottom: 67px;
        }
        &--buttons {
            margin-bottom: 0;
        }
    }

    .story-form__user-contacts-wrapper {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
    }
    .story-form__caption--contacts {
        padding: 0;
        padding-left: 20px;
        margin: 0;
        width: 46.27%;
        box-sizing: border-box;
        &:first-of-type {
            margin-bottom: 0;
            order: 2;
        }
        &:last-of-type {
            order: 3;
        }
    }
    .story-form {
        flex-direction: row;
        padding: 0 130px;
        justify-content: space-between;
    }
    .story-form__item-title {
        width: auto;
        &--platform {
            width: 86%;
        }
        /*
        &--user-contacts {
            display: block;
            margin: 0;
            padding: 0;
        }   */
    }
    .story-form__field {
        @include cards;
        width: 45.73%;
        margin-right: 8.53%;
        &--contacts {
            margin-bottom: 10px;
        }
        &:last-of-type {
            margin-right: 0;
        }
        &--textarea {
            width: 100%;
            min-height: 127px;
        }
    }
    .story-form__field-group {
        margin-bottom: 56px;
    }
    .story-form__checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        height: 173px;
        justify-content: flex-start;
    }
    .story-form__checkbox-group {
        &:first-child {
        }
    }
    .story-form__legend {
        margin-left: 34%;
    }
    .story-form__buttons-wrapper {
        margin-bottom: 0;
    }
    .story-form__label {
        padding-left: 60px;
        &--radio {
            padding-left: 60px;
            margin-left: 42px;
        }
    }
    .story-form__legend {
        span {
            display: inline;
        }
    }
}
