.story-form {
    margin: 0 auto;
    width: 320px;
}
.story-form__item {
    @include block-reset;
    padding: 0 20px;
    margin-bottom: 32px;
    border: none;
    &--achievements {
        background-color: #f2f2f2;
    }
    &--user-contacts {
        margin-bottom: 40px;
    }
    &--platform {
        margin-bottom: 20px;
        background-color: #f2f2f2;
    }
    &--buttons {
        margin-bottom: 15px;
    }
}
.story-form__caption {
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    padding-left: 22px;
    color: $secondary-color;
}
.story-form__field {
    @include font-size(18px, 30px);
    width: 100%;
    padding: 14px 21px 16px;
    margin-bottom: 16px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    &--textarea {
        padding: 14px 21px 32px;
    }
    &--emotions {
        padding: 36px 20px 18px;
    }
}
.story-form__item-title {
    @include block-reset;
    @include font-size(14px, 18px, normal, uppercase);
    display: block;
    padding: 36px 20px 42px;
    color: $secondary-color;
    text-align: center;
}
.story-form__label {
    @include font-size(18px, 30px, normal);
    position: relative;
    display: block;
    padding-left: 70px;
    margin-bottom: 52px;
    color: $primary-color;
    &::before {
        @include position-pseudo(-4px, 0);
        @include size(39px, 39px);
        background-color: #fff;
        background: #fff url("../img/icon-yes.svg") no-repeat 50% 50%;
        box-shadow: inset 0 0 0 2px #e5e5e5;
    }
    &--radio {
        margin-bottom: 45px;
    }
    &--radio::before {
        border-radius: 50%;
        background: $secondary-color;
        box-shadow: inset 0 0 0 2px #e5e5e5,
                    inset 0 0 0 12px #fff;
    }
}
.story-form__checkbox, .story-form__radio {
    display: none;
}
.story-form__legend {
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}
