.upload {
    min-width: 320px;
}
.upload__header {
    padding: 44px 30px 41px;
    margin: 0;
    line-height: 30px;
    text-align: center;
}
.upload__photo {
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    img {
        display: block;
        margin: 0 auto;
    }
}

.upload__editor {
    padding-bottom: 40px;
    background-color: #f2f2f2;
}
.upload__tools {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include block-reset;
    list-style: none;
    text-align: center;
    font-size: 0;
    &::after {
        @include position-pseudo(auto, auto, 57%, auto);
        width: 100%;
        height: 1px;
        background-color: #dddfe0;
    }
}
.upload__tool {
    display: flex;
    @include size(50px,50px);
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    font-size: 0;
    &:last-child {
        margin-right: 0;
    }
}
.upload__tool-icon {
    @include size(48px, 48px);
    fill: #b5b9be;
    cursor: pointer;
    &--contrast {
        @include size(32px, 32px);
    }
}
.upload__tool-contrast-fill {
    fill: #b5b9be;
}

.upload__tool-icon--active {
    fill: $secondary-color;
}
.upload__tool-icon:hover {
    fill: #8d949b;
}
.upload__tool-icon:hover .upload__tool-contrast-fill {
    fill: #8d949b;
}
.upload__tool-range {
    display: none;
/*    padding: 11px 18px 34px 55px; */
    border-bottom: 1px solid #dddfe0;
}
.upload__tool-scale {
    position: relative;
    margin: 0 auto;
    width: 202px;
    height: 2px;
    background-color: $primary-color;
}

.upload__tool-toggle {
    @include position(-5px, auto, auto, 36px);
    @include size(10px, 10px);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $secondary-color;
    cursor: pointer;
}
.upload__tool--active .upload__tool-toggle {
    background-color: $secondary-color;
}
.upload__range {
    padding: 35px 0;
    margin-bottom: 38px;
    width: 100%;
}
.upload__scale {
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: 2px;
    background-color: $primary-color;
}
.upload__toggle {
    @include position(-5px, auto, auto, 36px);
    @include size(10px, 10px);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $secondary-color;
    cursor: pointer;
}

@media #{$tablet-widths} {
    .upload__header {
        padding: 45px 30px 67px;
        font-size: 18px;
    }
    .upload__editor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 16px;

    }
    .upload__photo {
        padding: 57px 3.21% 0 0;

        width: 300px;
        height: 400px;

        img {
            @include block-reset;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .upload__tools {
        padding: 41px 0 0 3.21%;
        width: 39.28%;
        flex-wrap: wrap;
        flex-direction: column;
        &::after {
            display: none;
        }
    }
    .upload__tool-range {
        display: block;
        width: 78.45%;
    /*    padding: 11px 18px 34px 55px; */


    }
    .upload__tool-scale {
        width: auto;
    }
    .upload__range {
        display: none;
    }

    .upload__tool {
        display: flex;   /* */
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 25px 18px 22px 0;
        @include size(auto,auto);
        width: auto;
        border-bottom: 1px solid #dddfe0;

        &--crop {

            .upload__tool-toggle {
                @include position(-4px, 74%, auto, auto);
            }
        }
        &--fill {

            .upload__tool-toggle {
                @include position(-4px, 14.5%, auto, auto);
            }
        }
        &--contrast {

            .upload__tool-toggle {
                @include position(-4px, 49%, auto, auto);
            }
        }
    }


    .upload__tool-icon {
        /*margin-right: 31px;*/
        @include size(24px, 24px);
        cursor: pointer;
        margin-left: 3px;
        margin-right: auto;
    }
    .upload__tool--contrast .upload__tool-icon {
        @include size(16px, 16px);
        margin-left: 7px;
    }
}



@media #{$desktop-widths} {
    .upload__header {
        padding: 6px 30px 66px;
    }
    .upload__editor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;

        width: 78.3%;
        margin: 0 auto 26px;
    }
    .upload__photo {
        padding: 57px 45px 0 18px;
    }
    .upload__tools {
        padding: 39px 0 0 45px;
        width: 43.5%;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;

    }
    .upload__tool {
        width: 100%;
        padding: 14px 30px 13px 0;
        background-color: #f2f2f2;
        &--crop {

            .upload__tool-toggle {
                @include position(-4px, 25%, auto, auto);
            }
        }
        &--fill {

            .upload__tool-toggle {
                @include position(-4px, 86%, auto, auto);
            }
        }
        &--contrast {

            .upload__tool-toggle {
                @include position(-4px, 56%, auto, auto);
            }
        }

    }

    .upload__tool-range {
        padding: 0;
        width: 75.6%;
        border-bottom: none;
    }
    .upload__tool-scale {
        position: relative;
        margin: 0;
        width: 100%;
    }
    .upload__tool-icon {
        @include size(45px, 45px);
    }
    .upload__tool--contrast .upload__tool-icon {
        @include size(32px, 32px);
        margin-left: 7px;
    }
}
